

/* =========== header ============ */

/* ----header---- */

.section-header {
    padding-top: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    /* position: relative;
			float: right; */
}

/* ========== navbar ========== */

/* --- navbar --- */

.navbar {
    padding-top: 0;
    z-index: 1000;
}

.navbar-brand img {
    width: 280px;
}

.bg-danger {
    background-color: rgba(121, 3, 29, 0.6) !important;
    border-color: rgba(121, 3, 29);
}

.navbar .bg-danger:hover,
.navbar .bg-danger:focus {
    background-color: rgb(121, 3, 29) !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        background: rgba(121, 3, 29);
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item:hover .dropdown-item {
        color: #fff;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
    }
    .navbar .nav-item:hover .dropdown-item:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(0, 4, 7);
    }
}

.nav-link {
    color: #fff;
    font-size: 0.9em;
}

/* .show */

.show .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.show .nav-link:hover {
    background: rgba(121, 3, 29);
    color: #fff;
}

.show .dropdown-item {
    color: #fff;
}

.show .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 4, 7);
}

.wow_custom {
    background: rgba(121, 3, 29, 0.6);
    border-radius: 2px;
}

.dropdown-menu {
    background: rgba(0, 4, 7, 0.6);
    color: #fff;
}

.middle{
    border-radius: 10%;
    background: rgba(82, 78, 75, 0.5);
    position: relative;
    top: 61%;
    left: 50%;
    height: 65%;
    width: 40%;
    margin: auto;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    
  
}



