
/* =========== header ============ */

/* ----header---- */

.section-header {
    padding-top: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    /* position: relative;
			float: right; */
}

/* ========== navbar ========== */

/* --- navbar --- */

.container-fluid{
    padding-bottom: 30px;
}

.navbar {
    padding-top: 0;
    z-index: 1000;
}

.navbar-brand img {
    width: 280px;
}

.bg-danger {
    background-color: rgba(121, 3, 29, 0.6) !important;
    border-color: rgba(121, 3, 29);
}

.navbar .bg-danger:hover,
.navbar .bg-danger:focus {
    background-color: rgb(121, 3, 29) !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        background: rgba(121, 3, 29);
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item:hover .dropdown-item {
        color: #fff;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
        border-radius: 0;
    }
    .navbar .nav-item:hover .dropdown-item:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(0, 4, 7);
    }
}

.nav-link {
    color: #fff;
    font-size: 0.9em;
}

/* .show */

.show .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.show .nav-link:hover {
    background: rgba(121, 3, 29);
    color: #fff;
}

.show .dropdown-item {
    color: #fff;
}

.show .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 4, 7);
}

.wow_custom {
    background: rgba(121, 3, 29, 0.6);
    border-radius: 2px;
}

.dropdown-menu {
    background: rgba(0, 4, 7, 0.6);
    color: #fff;
}


/* -----------community page1------------- */

.sub_title{
    background-color: rgba(144, 8, 8, 0.63);
    /* border-radius: 10px; */
    padding: 1%;
    width: 100vw;
    /* margin: auto; */
    /* color: white; */
}

.sub_info{
    width: 90%;
    margin-left: 5%;
    list-style: none;
    letter-spacing: 0.0em;
    font-size: 1.2em;
    color: white;
}

.sub_info :first-child{
    font-size: 2.5em;
    color: white;
    margin-top: 50px;
    margin-bottom: 5px;
}

.board_select{
    margin-left: 8%;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

#table_board{
    width: 84%;
    margin: auto;
    /* text-align: center; */
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

/* .pagination_space{
    width: 100%;
    margin: auto;
} */

/* .pagination{
    width: 100%;
    margin: auto;
    text-align: center;
    color: red;
    padding-left: 41%;
} */

.new_roll_space{
    width: 100%;
    height: 2em;
    text-align: right;
    padding: 5px 8% 0 0 ;
}

.new_roll {
	background:linear-gradient(to bottom, #820707ab 5%, #8d1a0ba1 100%);
	background-color:#79031D;
	border-radius:8px;
	border:2px solid #e2200e83;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight: 900;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.new_roll:hover {
	background:linear-gradient(to bottom, #c42b2079 5%, #e6331b7c 100%);
	background-color:#c42b206b;
    color: white;
    text-decoration: none;
}

.new_roll:active {
	position:relative;
	top:1px;
}


.board_number{
    text-align: center;
    margin-top: 25px;
}

.board_number :hover {
    background:linear-gradient(to bottom, #c42b2079 5%, #e6331b7c 100%);
    background-color:#c42b206b;
    color: white;
    text-decoration: none;
}

.board_number > a{
    /* border: 1px solid black; */
    border: 2px solid #e2200e83;
    border-radius: 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    background-color: #79031D;
    margin-right: 4px;
    /* font-weight: bold; */
}



/* =================================== */