
/* =========== header ============ */

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


/* ----header---- */


.s-h-custom {
    padding-top: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    /* position: relative;
			float: right; */
}

/* ========== navbar ========== */

/* --- navbar --- */

.nb-custom {
    padding-top: 0;
    z-index: 1000;
}

.n-brand img {
    width: 280px;
}

.bg-custom {
    background-color: rgba(121, 3, 29, 0.6) !important;
    border-color: rgba(121, 3, 29);
}

.nb-custom .bg-custom:hover,
.nb-custom .bg-custom:focus {
    background-color: rgb(121, 3, 29) !important;
}

@media all and (min-width: 992px) {
    .nb-custom .nvitem-custom .dp-menu-custom {
        display: none;
    }
    .nb-custom .nvitem-custom:hover .nv-link-custom {
        background: rgba(121, 3, 29);
        color: #fff;
    }
    .nb-custom .nvitem-custom:hover .dp-menu-custom {
        display: block;
    }
    .nb-custom .nvitem-custom:hover .dd-item {
        color: #fff;
    }
    .nb-custom .nvitem-custom .dp-menu-custom {
        margin-top: 0;
        border-radius: 0;
    }
    .nb-custom .nvitem-custom:hover .dd-item:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(0, 4, 7);
    }
}

.nv-link-custom {
    color: #fff;
    font-size: 0.9em;
}

/* .show */

.show .dp-menu-custom {
    margin-top: 0;
    border-radius: 0;
}

.show .nv-link-custom:hover {
    background: rgba(121, 3, 29);
    color: #fff;
}

.show .dd-item {
    color: #fff;
}

.show .dd-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 4, 7);
}

.wow_custom {
    background: rgba(121, 3, 29, 0.6);
    border-radius: 2px;
}

.dp-menu-custom {
    background: rgba(0, 4, 7, 0.6);
    color: #fff;
}


